.hr-text span {
    text-align: center;
    display: table;
    white-space: nowrap;
    &:before, &:after {
        border-top: 1px solid green;
        content: '';
        display: table-cell;
        position: relative;
        top: 0.5em;
        width: 45%;
    }
    &:before { right: 1.5%; }
    &:after { left: 1.5%; }
}

